*.exe
*.exe~
*.orig
*.test
.*.swp
.DS_Store
.bashrc
.editorconfig
.go-pkg-cache/
.gopath/
.idea/
.ideavimrc
.zshrc
autogen/
bundles/
cmd/docker/docker
cmd/dockerd/dockerd
db-data/
dockerversion/version_autogen.go
index.html
/vendor/

!.gitkeep
